.ql-button {
    display: inline-block;
    margin-right: 4px;
    padding: 6px 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .ql-button:hover {
    background-color: #f0f0f0;
  }

#toggle-edit-btn {
	background-color: #4267b2;
	border: 1px solid #4267b2;
	border-radius: 0.3rem;
	color: #fff;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	margin: 2rem auto;
}

#toggle-edit-btn:focus,
#toggle-edit-btn:hover {
	cursor: pointer;
}

.app-content {
	margin: 1rem auto;
	width: 80%;
	padding: 5%;
	background-color: #f4f5f9;
}
